parameters:
	level: 8
	paths:
		- src/
		- tests/test_app/src/Dto/
		- tests/test_app/plugins/Sandbox/src/Dto/
	bootstrapFiles:
		- %rootDir%/../../../tests/bootstrap.php
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		- '#Property .+BookDto::\$pages \(Cake\\Collection\\Collection&iterable<TestApp\\Dto\\PageDto>\) does not accept .+CollectionInterface.#'
		- '#Unsafe usage of new static\(\).#'
		- '#Cannot access offset mixed on \(array\|float\|int\).#'
		- '#Parameter \#1 \$value of method .+XmlEngine::castBoolValue\(\) expects bool\|string, bool\|float\|int\|string given.#'
		- '#Call to an undefined method object::toArray\(\).#'
	reportUnmatchedIgnoredErrors: false
