<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd">
	<groups>
		<exclude>
			<group>integration</group>
		</exclude>
	</groups>

	<php>
		<ini name="memory_limit" value="-1"/>
		<!-- E_ALL & ~E_USER_DEPRECATED (16383)-->
		<!-- E_ALL (32767) -->
		<ini name="error_reporting" value="32767"/>
	</php>

	<testsuites>
		<testsuite name="cake-dto">
			<directory>tests/TestCase/</directory>
		</testsuite>
	</testsuites>

	<source>
		<include>
			<directory suffix=".php">src/</directory>
		</include>
		<exclude>
			<directory>src/TestSuite/</directory>
			<directory>src/Filesystem/</directory>
		</exclude>
	</source>
</phpunit>
